<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="todo">


<div class="app-body" ng-class="{loading: loading}">
  <div ng-show="loading" class="app-content-loading">
    <i class="fa fa-spinner fa-spin loading-spinner"></i>
  </div>
  <div class="app-content" ng-controller="mainController">
    <div ng-view></div>
  </div>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<!--Routes-->
<script src="javascripts/routes.js"></script>
<!--Controller-->
<script src="javascripts/logInController.js"></script>
<script src="javascripts/signInController.js"></script>
<script src="javascripts/editTaskController.js"></script>
<script src="javascripts/editTodoController.js"></script>
<script src="javascripts/newTaskController.js"></script>
<script src="javascripts/newTodoController.js"></script>
<script src="javascripts/taskController.js"></script>
<script src="javascripts/todoController.js"></script>
<!--Services-->
<script src="services/exchangeTodoID.js"></script>
<script src="services/exchangeTaskID.js"></script>
<script src="services/exchangeSessionKey.js"></script>
<script src="services/exchangeValues.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


</body>
</html>