<!--editTodoController-->
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Edit Todo</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-content layout-gt-sm="row" layout-padding>
    <div>
        <md-input-container>
            <label>Topic</label>
            <input ng-model="todo.topic">
        </md-input-container>

        <md-input-container>
            <label>Description</label>
            <input ng-model="todo.description">
        </md-input-container>
    </div>
</md-content>

<md-button class="md-raised md-primary" ng-click="updateTodo()">Update</md-button>