<!--newTaskController-->
<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Back" ng-click="goBack()">
            <md-icon md-svg-icon="images/ic_keyboard_arrow_left_white_24px.svg">back</md-icon>
        </md-button>
        <span flex></span>
        <h2>
            <span>New Task</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-content layout-gt-sm="row" layout-padding>
    <div>
        <md-input-container>
            <label>Task</label>
            <input ng-model="todo.task">
        </md-input-container>
    </div>
</md-content>

<md-button class="md-raised md-primary" ng-click="newTask()">Create</md-button>