<!--logInController-->
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Edit" ng-click="updateTodo()">
      <md-icon ng-click="goBack()"md-svg-icon="images/ic_keyboard_arrow_left_white_24px.svg"></md-icon>
    </md-button>
    <h2>
      <span>SignIn</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>
<md-content layout-gt-sm="row" layout-padding>
  <div>
    <md-input-container>
      <label>Username</label>
      <input ng-model="name">
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input ng-model="passwd" type="password">
    </md-input-container>
  </div>
</md-content>

<md-button class="md-raised md-primary" ng-click="createNewAccount()">Create Account</md-button>
